{% extends 'base.html' %}
{% block title %} Расписание сеансов {% endblock %}
{% block content %}
<div class="business-review-view bg-light p-4 mt-4 rounded">
<h1>Расписание на эту неделю</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">🎞ЗАЛ №1:</th>
      <th scope="col">Время</th>
      <th scope="col">Название</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>09:00</td>
      <td>Сияющая звезда 2D 6+</td>
      <td>цена 120 руб</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>10:40</td>
      <td>Тайна амулета 2D 12+</td>
      <td>цена 150 руб</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>12:35</td>
      <td>Бука. Мое любимое чудище 2D 6+</td>
      <td>цена 220 руб</td>
    </tr>
      <tr>
      <th scope="row"></th>
      <td>14:40</td>
      <td> Ботан и Супербаба 2D 16+</td>
      <td>цена 230 руб</td>
    </tr>
      </tr>
      <tr>
      <th scope="row"></th>
      <td>16:30</td>
      <td> 1941. Крылья над Берлином 2D 12+</td>
      <td>цена 230 руб</td>
    </tr>
      </tr>
      <tr>
      <th scope="row"></th>
      <td>18:40 </td>
      <td> Ботан и Супербаба 2D 16+</td>
      <td>цена 250 руб</td>
    </tr>
        </tr>
      <tr>
      <th scope="row"></th>
      <td>20:30  </td>
      <td> Заклятье: Спуск к дьяволу 2D 16+ </td>
      <td>цена 230 руб</td>
    </tr>
  </tbody>
</table>
</div>
    <div class="business-review-view bg-light p-4 mt-4 rounded">

<table class="table">
  <thead>
    <tr>
      <th scope="col">🎞ЗАЛ №2:</th>
      <th scope="col">Время</th>
      <th scope="col">Название</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>09:15</td>
      <td>Первый Оскар 2D 12+</td>
      <td>цена 120 руб</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>11:30</td>
      <td>Суворов. Великое Путешествие 2D 6+</td>
      <td>цена 150 руб</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>12:15</td>
      <td>Отчаянные дольщики 2D 16+</td>
      <td>цена 200 руб</td>
    </tr>
      <tr>
      <th scope="row"></th>
      <td>15:40</td>
      <td> Маруся фореva! 2D 6+ цена </td>
      <td>цена 230 руб</td>
    </tr>
      </tr>
      <tr>
      <th scope="row"></th>
      <td>17:00</td>
      <td> Артек. Большое путешествие 2D 6+</td>
      <td>цена 230 руб</td>
    </tr>
      </tr>
      <tr>
      <th scope="row"></th>
      <td>19:05 </td>
      <td> Флешбэк 2D 18+ </td>
      <td>цена 250 руб</td>
    </tr>
        </tr>
      <tr>
      <th scope="row"></th>
      <td>21:30  </td>
      <td>  Проклятие плачущей: безременье. 2D 16+  </td>
      <td>цена 230 руб</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}