{% extends 'base.html' %}
{% block title %} Часы работы и адрес {% endblock %}
{% block content %}
<div class="business-review-view bg-light p-4 mt-4 rounded">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1 class="panel-title">Контакты</h1>
					</div>
					<div class="panel-body">
						<ul class="list-unstyled contact-details">
							<li class="clearfix mb10">
								<i class="glyphicon glyphicon-home mr10"></i>
								ООО Факел г.Сатка,Орджоникидзе 13
							</li>
							<li class="clearfix mb10">
								<i class="glyphicon glyphicon-earphone mr10"></i>
								<a href="tel:8 (35161) 3-90-92"><span>8 (35161) 3-90-92</span></a>
							</li>
							<li class="clearfix mb10">
								<i class="glyphicon glyphicon-envelope mr10"></i>
								<a href="mailto:tk.fakel@mail.ru">tk.fakel@mail.ru</a>
							</li>
                            <h1>Работаем каждый день с 9.00 до 23.30</h1>
						</ul>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-body">
						<p><span style="font-family: Arial; font-size: small;" face="Arial" size="2"><strong>По аренде помещений в ТРК "Факел" телефон:</strong> <span class="wmi-callto">8 (912) 323-31-73</span></span></p>
					</div>
				</div>
			</div>

{% endblock %}