{% extends 'base.html' %}

{% block title %}
    вход
{% endblock %}

{% block content %}
    <main class="form-signin"style="max-width: 30rem;margin: auto">
        <form method="post">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <span>Неверный логин или пароль</span>
                </div>
            {% endif %}
            {% csrf_token %}
            <img class="mb-4" src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                {{ form.username }}
                <label for="floatingInput">login</label>
            </div>
            <div class="form-floating">
                {{ form.password }}
                <label for="floatingPassword">Password</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
        </form>
    </main>
    </div>
{% endblock %}
